.about {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
    padding: 0 5rem;
    padding-top: 10rem;

   &--title {
       grid-column: 1 / span 2;
       font-size: 4rem;
       margin-bottom: 4rem;
   }

   &--description {
       font-size: 1.5rem;
   }

   &--img {
       width: 100%;
       border-radius: .7rem;
   }

   &--plants-img {
       position: absolute;
       top: 7rem;
       left: 7rem;
       width: 45rem;
       z-index: -1;
   }
}