#contact {
    position: relative;
    min-height: 100vh;
}

.contact {
    position: relative;
    min-height: 100vh;
  
    &__content {
      position: absolute;
      top: 50%;
      left: 0%;
      transform: translateY(-50%);
      border-left: 1.4rem solid $color-green;
      padding-left: 10%;
      min-width: 90rem;

      @media (max-width: 1000px){
          min-width: auto;
          width: 90%;
      }
  
      & h2 {
        font-size: 10rem;
        color: $color-white;
        margin-bottom: 2rem;
      }
  
      & p {
        color: $color-white;
        font-size: 2rem;
        margin: 5rem 0;
      }
  
      & button {
        border: .3rem solid $color-green;
        color: $color-green;
        background-color: transparent;
        padding: 2rem 4rem;
        font-size: 3rem;
        font-weight: 600;
      }
    }

    &__form {
        display: flex;
        flex-direction: column;

        & > label {
            color: $color-white;
            font-size: 1.8rem;
        }

        & > input{
            margin-bottom: 2rem;
            padding: 1rem 2rem;
        } 

        & textarea {
            padding: 2rem;
            min-height: 20rem;
        }

        &--recaptcha {
            margin: 2rem 0;
        }
    }
  
  }