.footer {
    display: flex;
    flex-direction: row;
    margin-bottom: 5rem;
    font-size: 1.5rem;
    max-width: 90vw;

    &__copyright {
        margin-right: auto;
    }

    & > a {
        text-decoration: none;
        margin-left: 2rem;
        padding-bottom: .2rem;
        border-bottom: 1px solid transparent;
        color: black;

        &:hover {
            color: $orange;
            border-bottom: 1px solid $orange;
        }
    }
}