.home {
    position: relative;
    padding-top: 30%;
    min-height: 100vh;

    &__content {
       width: 40%;
        &--title {
            font-size: 4rem;
            margin-top: 5rem;
        }
        &__cta {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
            height: 5rem;

            margin-top: 5rem;
            font-size: 1.5rem;
            width: 80%;

            &--chat {
                border: 2px solid $orange;
                color: $orange;
                border-radius: .7rem;
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;

                &:hover {
                    background-color: $orange;
                    color: white;
                }
            }

            &--services {
                border: 1px solid $pale-blue;
                color: $pale-blue;
                border-radius: .7rem;
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;

                &:hover {
                    background-color: $pale-blue;
                    color: white;
                }
            }
        }
    }

    &__img {
        width: 50%;
        margin: 0 auto;
        position: absolute;
        right: 0;
        top: 25%;
        z-index: -5;
    }
}