.home {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to right, rgba(#000, .9), rgba(#000, .9)), url("./images/clem-onojeghuo-Ud4GcZW3rOY-unsplash.jpg");
  background-size: cover;

  &__content {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    & > h2 {
      font-size: 8rem;
    }

    & > h3 {
      font-size: 2rem;
      margin-top: 1rem;
    }
    
  }

  &__navigation {
    margin-top: 5rem;
    position: relative;
    height: 100px;

    & > a {
      text-decoration: none;
      color: white;
      font-size: 3rem;
      transition: all .2s;
      padding-bottom: 1rem;
      border: 1px solid transparent;

      &:hover {
        color: $color-primary;
        border-bottom: 1px solid $color-primary;
        padding-bottom: 1rem;
      }

      &:not(:first-child) {
        margin-left: 2rem;
      }
    }
  }

  &__contact {
    margin: 0 auto;
    font-size: 2rem;
    border: 2px solid $color-primary;
    text-decoration: none;
    color: $color-primary;
    background-color: transparent;
    font-weight: bold;
    padding: 2rem;
    width: 50%;
    cursor: pointer;
    letter-spacing: .2rem; 
    transition: all .8s;

    &:hover {
      color: white;
      background-color: $color-primary;
      letter-spacing: 1rem; 
    }
  }
}
