.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;

  position: fixed;
  max-width: 90vw;
  width: 80rem;
  margin: 0 auto;
  top: 0;
  height: 8rem;
  background-color: white;
  z-index: 5;

  &__logo {
    margin-right: auto;
    font-size: 1.5rem;

    @media (max-width: 450px) {
      display: none;
    }

    & > a {
      text-decoration: none;
      color: inherit;
    }
  }

  &__nav {
    &--item {
        margin-right: 2rem;
        text-decoration: none;
        color: inherit;
        border-bottom: 1px solid transparent;
        padding-bottom: .3rem;
        font-size: 1.2rem;

        &:hover {
          color: $orange;
          border-bottom: 1px solid $orange;
        }
    }

    @media( max-width: 450px ){
      margin-right: auto;
    }
  }

  &__contact {
    padding: 1rem 2rem;
    border: 1px solid $orange;
    color: $orange;
    border-radius: .7rem;
    font-size: 1.2rem;

    & > a {
      text-decoration: none;
      color: inherit;
    }

    &:hover {
      background-color: $orange;
      color: white;
    }
  }
}