.navbar {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 5rem;
  border-bottom: 1px solid $color-faded-grey;

  display: flex;
  flex-direction: row;
  align-items: center;

  &--item {
    color: $color-white;
    text-decoration: none;
    cursor: pointer;
    z-index: 2;

    &:first-child {
      margin-left: 15rem;
    }

    &:not(:last-child) {
      margin-right: 2rem;
    }
  }
}
