.navbar {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 8rem;
  border-bottom: 1px solid $color-faded-grey;

  display: flex;
  flex-direction: row;
  align-items: center;

  @media (max-width: 1450px) {
    height: 5rem;
  }

  &--item {
    color: $color-white;
    text-decoration: none;
    cursor: pointer;
    z-index: 2;
    font-size: 1.3rem;

    &:first-child {
      margin-left: 12rem;

      @media (max-width: 1000px) {
        margin-left: 5rem;
      }
    }

    &:not(:last-child) {
      margin-right: 2rem;
    }
  }
}
