.project {
  margin: 5rem 0;
  display: grid;
  grid-template-columns: 70% 30%;
  column-gap: 5rem;

  width: 50%;

  @media (max-width: 2200px) {
    width: 60%;
  }

  @media (max-width: 1900px) {
    width: 70%;
  }

  @media (max-width: 1650px) {
    width: 80%;
  }

  @media (max-width: 1450px) {
    width: 90%;
  }

  @media (max-width: 1000px) {
    grid-template-columns: 1fr;
    width: 100%;
  }

  &--img {
    width: 100%;
    height: auto;
  }

  &__content {
    display: flex;
    flex-direction: column;
    line-height: 3rem;

    &--title {
      font-size: 3rem;
      color: $color-primary;

      @media (max-width: 1000px) {
        margin: 2rem 0;
      }
    }

    &--tech {
      font-size: 2rem;
      @media (max-width: 1000px) {
        margin: 2rem 0;
      }
    }

    &--description {
      font-size: 2rem;
      margin: 3rem 0;

      @media (max-width: 1000px) {
        margin: 1rem 0;
      }
    }

    @media (max-width: 1000px) {
      grid-template-columns: 1fr;
    }
  }

  &__links {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    font-size: 1.5rem;

    &--link {
      padding: 1rem 4rem;
      border: 1px solid $color-primary;
      color: $color-primary;
      cursor: pointer;
      text-decoration: none;

      &:hover {
        background-color: $color-primary;
        color: $color-black;
      }

      &:not(:last-child) {
        margin-right: 2rem;
      }
    }
  }
}
