.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 8rem;
    row-gap: 5rem;

    &__header {
        &--title {
            margin-top: 8rem;
            margin-bottom: 4rem;
        }

        &--description {
            font-size: 1.5rem;
            padding-right: 5rem;
            color: $grey-text;
            line-height: 1.8;
        }
    }

    &__img {
        width: 100%;
    }

    &__project-list {
        grid-column: 1 / span 2;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
        gap: 2rem;
    }
}
