.project {
   position: relative;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 1fr 1fr;

   &--title {
    position: absolute;
    top: 25%;
    left: 2rem;
    font-size: 3rem;
   }

   &--description {

   }

   &--img {
       width: 100%;
   }
}