.services {
    position: relative;
    width: 100%;
    min-height: 100vh;

    &__content {
        display: grid;
        grid-template-columns: 40% 1fr;
        gap: 4rem;
        padding: 20rem 0;

        @media (max-width: 600px){
            display: flex;
            flex-direction: column;
        }
    }

    &__header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 80%;

        &--title {
        }

        &--description {
            font-size: 1.5rem;
            color: $grey-text;
            line-height: 1.8;
        }

        &--quote {
            padding: 2rem 4rem;
            border: 1px solid $pale-blue;
            color: $pale-blue;
            border-radius: .7rem;
            font-size: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            cursor: pointer;

            &:hover {
                background-color: $pale-blue;
                color: white;
            }
        }

        @media (max-width: 600px) {

            &--title {
                margin-bottom: 4rem;
            }
            
            &--description {
                display: none;
            }

            &--quote {
                display: none;
            }
            
        }
    }

    &__services {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 5rem;

        &--item {
            & > h3 {
                font-size: 2rem;
                margin: 1.5rem 0;
            }
            & > p {
                color: $grey-text;
                line-height: 1.5;
                font-size: 1.2rem;
            }
            & > svg {
                font-size: 4rem;
                color: $orange;
            }
        }
    }

}