@keyframes changePage {
    0% {
        width: 0px;
    } 
    50% {
        width: 100vw;
    }
    100% {
        width: 0px;
    }
}

.splashnav {
    position: fixed;
    left: 0px;
    height: 100vh;
    background-color: $color-green;
    animation: changePage 1.2s linear;
    z-index: 10;
}