.whyme {
    position: relative;
    padding: 20rem 0;
    max-width: 90vw;
    min-height: 100vh;

    &__content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    &--title {
        font-size: 4rem;
        margin-bottom: 4rem;
    }

    &--description {
        font-size: 1.5rem;
        color: $grey-text;
        line-height: 1.8;
    }
}