.about {
  height: 100vh;
  max-width: 120rem;
  margin: auto;
  padding: 20rem 0;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 5rem;

  &__description {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;

    &--header {
      font-size: 5rem;
      margin-bottom: 4rem;
      text-align: center;
    }

    &--content {
      font-size: 2.2rem;
      font-weight: 100;
    }
  }

  &__img {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    background-image: url("./images/profile.jpg");
    background-size: cover;
  }

  &__skills {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;

    display: flex;
    flex-direction: row;
    font-size: 10rem;
    justify-content: space-evenly;
    margin-top: 10rem;

    &--html {
      color: orangered;
    }
    &--css {
      color: rgb(70, 206, 252);
    }
    &--js {
      color: rgb(238, 238, 3);
    }
    &--react {
      color: rgb(126, 218, 248);
    }
    &--node {
      color: lightgreen;
    }
  }
}
