.about {
  max-width: 120rem;
  min-height: 100vh;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10rem;

  & > div {
    height: 100%;
  }

  &__description {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;

    line-height: 5rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    &--header {
      font-size: 5rem;
      margin-bottom: 4rem;
    }

    &--opendrop {
      text-decoration: none;
    }

    &--misc {
      text-decoration: none;
    }

    &--content {
      font-size: 2.2rem;
      color: rgb(58, 58, 58);
      text-align: left;
    }
  }

  &__skills {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;

    display: flex;
    flex-direction: row;
    font-size: 10rem;
    justify-content: space-evenly;
    margin-top: 10rem;

    @media (max-width: 1200px) {
      width: 100%;
      font-size: 6rem;
    }

    @media (max-width: 500px) {
      font-size: 4rem;
    }

    &--html {
      color: orangered;
    }
    &--css {
      color: rgb(70, 206, 252);
    }
    &--js {
      color: rgb(238, 238, 3);
    }
    &--react {
      color: rgb(126, 218, 248);
    }
    &--node {
      color: lightgreen;
    }
  }
}
