.header {
  position: fixed;
  top: 5%;
  right: 20%;
  height: 3vh;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: right;

  a {
    color: black;
    text-decoration: none;
    margin: 0 3rem;
    font-size: 2rem;
  }
}
