.home {
    text-align: center;
    padding-top: 25rem;
    height: 100vh;
    &__header {
      font-size: 10rem;
    }
    &__subheader {
      font-size: 5rem;
      letter-spacing: 1.5rem;
    }
    &__social {
      margin: 5rem 0;
      svg {
        font-size: 4rem;
        margin: 0 2rem;
        text-decoration: none;
        color: black;
      }
    }
    &__navigation {
      font-size: 4rem;
      a {
        margin: 0 3rem;
        cursor: pointer;
        text-decoration: none;
        color: black;
      }
    }
  }