.home {
  text-align: center;
  height: 100vh;
  color: white;

  background-image: linear-gradient(
      to bottom,
      rgba(#000, 0.93),
      rgba(#000, 0.93)
    ),
    url("./images/pic1.jpg");
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10rem;

  &__header {
    font-size: 10rem;
    letter-spacing: 1rem;

    @media (max-width: 1000px) {
      font-size: 6rem;
      margin-bottom: 5rem;
    }

    @media (max-width: 340px) {
      font-size: 4rem;
      margin-bottom: 5rem;
    }
  }

  &__subheader {
    font-size: 5rem;
    letter-spacing: 1.5rem;

    @media (max-width: 1000px) {
      font-size: 3rem;
      letter-spacing: 0.5rem;
    }
  }

  &__social {
    margin: 5rem 0;

    svg {
      font-size: 4rem;
      margin: 0 2rem;
      text-decoration: none;
      color: white;
    }
  }

  &__navigation {
    font-size: 4rem;
    a {
      margin: 0 3rem;
      cursor: pointer;
      text-decoration: none;
      color: white;
      letter-spacing: 0.5rem;
      padding-bottom: 1rem;

      &:hover {
        border-bottom: 1px solid white;
      }
    }

    @media (max-width: 900px) {
      display: flex;
      flex-direction: column;
    }
  }
}
