.projects {
  max-width: 120rem;
  min-height: 100vh;
  margin: 0 auto;
  padding: 10rem;

  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (max-width: 800px) {
    padding: 10rem 5rem;
  }

  @media (max-width: 500px) {
    padding: 10rem 2rem;
  }

  &__mysailboatfinder {
    text-align: center;
    width: 100%;

    &--title {
      font-size: 4.5rem;
    }

    &--header {
      display: block;

      text-decoration: none;
      color: black;
      cursor: pointer;

      p {
        font-size: 5rem;

        @media (max-width: 500px) {
          font-size: 3.5rem;
        }
      }

      &:hover {
        color: $color-secondary;
      }

      @media (max-width: 800px) {
        font-size: 3rem;
      }
    }

    &--description {
      font-size: 2.2rem;
      color: $color-dark-grey;
      text-align: left;
      line-height: 5rem;
    }

    &--github {
      font-size: 5rem;
      margin: 4rem 0;
      color: rgb(27, 27, 27);

      &:hover {
        color: $color-secondary;
      }
    }

    &__features {
      margin: 5rem 0;
      text-align: left;

      &--header {
        font-size: 2.2rem;
        color: $color-dark-grey;
      }

      &--list {
        position: relative;
        left: 3%;
        margin-top: 2rem;

        li {
          font-size: 1.8rem;
        }
      }
    }

    &__gifs {
      margin: 5rem auto;
      width: 100%;
      display: grid;
      grid-template-rows: 10% 90%;

      box-shadow: 0rem 4rem 1rem rgba(#000, 0.2);
      border: none;

      @media (max-width: 700px) {
        box-shadow: 0rem 1.5rem 1rem rgba(#000, 0.2);
      }

      img {
        width: 100%;
        border-radius: 2px;
      }

      &__tabs {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr;
        align-items: center;
        text-align: center;

        border-bottom: 2px solid white;

        &--active {
          background-color: white !important;

          p {
            color: black !important;
          }
        }

        button {
          cursor: pointer;
          text-decoration: none;
          border: none;
          height: 100%;
          background-color: $color-dark-grey;
          color: white;
          border-radius: 0;

          p {
            @media (max-width: 800px) {
              font-size: 1rem;
            }
            @media (max-width: 400px) {
              font-size: 0.6rem;
            }
          }

          &:hover {
            background-color: white;
            color: black;
          }

          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}
