.projects {
  position: relative;
  height: 100vh;
  width: 100vw;

  &__box {
    position: absolute;
    left: 10rem;
    border-left: 1px solid $color-faded-grey;
    height: 100vh;
    width: calc(100vw - 10rem);

    @media (max-width: 1450px) {
      left: 5rem;
    }

    @media (max-width: 1000px) {
      border-left: none;
      left: 1rem;
    }
  }

  &__content {
    position: absolute;
    top: 15rem;
    margin-left: 10rem;

    @media (max-width: 800px) {
      margin-left: 5rem;
    }
  }

  &--title {
    font-size: 5rem;
  }
}
